*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Georgia', serif;
    overflow-x:hidden;
    
background-image:url('assets/garden.png');
background-size:cover;
background-position:center;
background-attachment:fixed;
    
}

#website-content{
    display:none;
}

#password-screen{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.rose-container{
    text-align:center;
}

.rose{
    font-size:80px;
    animation: float 3s infinite;
}

input{
    padding:12px;
    width:250px;
    border:none;
    border-radius:10px;
    margin-top:15px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    margin-top:10px;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:30px;
}

.hero h1{
    font-size:4rem;
}

.quote{
    margin-top:20px;
    font-style:italic;
}

.card{
    max-width:900px;
    margin:40px auto;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.15);

    box-shadow:0 8px 32px rgba(0,0,0,.3);

    padding:30px;

    border-radius:25px;

    transition:0.4s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    margin-bottom:20px;
}

.card p{
    line-height:1.8;
    margin-bottom:10px;
}

.placeholder{
    margin-top:20px;
    border:2px dashed white;
    border-radius:15px;
    padding:30px;
    text-align:center;
}

.seed{
    background:rgba(255,255,255,.1);
    margin:15px 0;
    padding:15px;
    border-radius:15px;
}

.seed span{
    display:block;
    opacity:.8;
    margin-top:5px;
}

#secret-message{
    display:none;
    margin-top:20px;
}

.birthday-tree{
    text-align:center;
    padding:100px 20px;
}

.call-btn{
    display:inline-block;
    margin-top:30px;
    text-decoration:none;
    background:#25D366;
    color:white;
    padding:15px 25px;
    border-radius:20px;
    font-weight:bold;
}

@keyframes float{
    0%, 100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
    }
}
.rose img{
    width:180px;
    animation:float 4s ease-in-out infinite;
}
.birthday-tree-image{
width:300px;
max-width:90%;
}
